nav {
  height: 332px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 64px;
  position: fixed;
  top: 56px;
  left: 0px;
  padding: 0 4px;
  margin-left: 14px;
  margin-top: 8px;
}
.navlinks {
  height: 64px;
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 14px 0;
}
.navlinks img{
  height: 24px;
  width: 24px;
}
.navlinks p{
  font-size: 10px;
  font-family: Roboto,arial;
  line-height: 14px;
  font-weight: 400;
  margin-top: 4px;
}
