.tags {
  padding: 0 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Robot, arial;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 56px;
  left: 98px;
  background-color: white;
  z-index: 999;
  right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: scroll;
}
.genre {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px;
  padding: 10px 10px;
  margin-right: 10px;
}
.genre p {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 791.5px) {
  .tags {
    left: 0px;
  }
}
