.video__grid {
  display: grid;
  padding-left: 100px;
  padding-top: 140px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
  padding-right: 30px;
}
.thumbnail__container {
  padding-bottom: 12px;
}
.thumbnail {
  width: 100%;
  border-radius: 12px;
}
.video__text {
  margin-top: 0px;
}
.video__info {
  margin-top: 0px;
}
.video__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 0px;
}
.video__profile {
  margin-right: 12px;
}
.video__author {
  font-size: 14px;
  font-weight: 400;
  color: rgb(170, 170, 170);
  margin-top: 2px;
}
.video__stats {
  font-size: 14px;
  font-weight: 400;
  color: rgb(170, 170, 170);
  margin-top: 2px;
}
.video__info {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 0px;
}
.video__profile .profile__picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  margin: 2px;
}
@media screen and (max-width: 791.5px) {
  .video__grid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 719px) and (max-width: 1139px) {
  .video__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1139px) and (max-width: 1536px) {
  .video__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 719px) {
  .video__grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 25px;
    padding-right: 25px;
  }
}
